name: Elm via Node.js CI

on:
  push:
    branches: [ $default-branch ]
  pull_request:
    branches: [ $default-branch ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci

    - name: elm make
      run: npx --no-install elm make src/Main.elm --output=/site/dist/elm.js

    - name: elm-format
      run: npx --no-install elm-format --validate src tests

    - name: elm-review
      run: npx --no-install elm-review

    - name: elm-test
      run: npx --no-install elm-test
